<section class="footer">
    <div class="footer-container">
        <a href="https://www.linkedin.com/in/akash-mishra-2b2348224" target="_blank" class="footer-link link-1"><img
                src="/icons8-linkedin.svg" alt="" /></a>
        <a href="mailto: aakashvatsh007@gmail.com" class="footer-link link-2"><img src="/icons8-mail-50.png"
                alt="" /></a>
    </div>
    <div class="copy-container">&copy;2024 Made by Akash Mishra</div>
</section>